.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    padding: 10px;
}
label{
font-family: 'Inter', sans-serif;
font-weight: 400;
    font-size: 15px;
    line-height: 29px;
}
input{
    font-weight: 400;
        font-size: 15px;
        line-height: 29px;
}
.left{
    width: 50%;
    margin-left: 72px;
}
.right{
    width: 50%;
        /* background-color: rgb(244, 182, 235); */
}
.left_1 input{
    border: 1px solid #808080;
    border-radius: 10px;
    width: 550px;
    height: 61px;
    margin: 10px 0px;
    padding-left: 15px;
}
.left_2 select{
    border: 1px solid #808080;
    border-radius: 10px;
    width: 550px;
    height: 61px;
    margin: 10px 0px;
    background-color: white;
    padding-left: 15px;
}
.left_3 textarea{
        border: 1px solid #808080;
        border-radius: 10px;
    width: 550px;
        Height :140px;
        margin: 10px 0px;
        padding-left: 15px;
}
.left_4{
    width: 550px;
}
.left_4 .input-container {
        display: flex;
        height: 61px;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 10px;
        position: relative;
        padding-left: 15px;
     
}

.input_container {
    border: none;
    position: relative;
    padding-left: 15px;
}
.input-container input{
    height: 61px;
    border: none;
    padding-left: 15px;
}
.input-container input:focus{
    height: 61px;
    border: none;
    outline: none;
    padding-left: 15px;
}

.input-container button{

            height: 61px;
            padding: 26px 30px;
            position: absolute;
            right: 0px;
            border-radius: 10px;
            border: 1.5px solid #808080;
            background-color: white;
}

.right_1{
border: 1px solid #808080; 
    border-radius: 10px;
    width: 550px;
    height: 61px;
    margin: 34px 0px 10px 0px;
    position: relative;
    padding-left: 15px;
    margin-bottom: 30px;
}
.right_1 input{
    border:none;
    width: 450px;
    height: 41px;
    margin: 10px 30px;
    padding-left: 15px;
}
.right_1 input:focus {
    border: none;
    outline: none;
    width: 450px;
    height: 41px;
    margin: 10px 10px;
    padding-left: 25px;
}
svg{
 position:absolute;
 margin-left: 10px;
 bottom: 17px;

}
.right_2{
    border: 1px solid rgb(15, 15, 15);
    padding-left:10px;
    background-color: white;
    width: 100px;
    border-radius: 5px;
    margin-bottom: 25px;
}
.right_2 .btn{
 border:none;
 background-color: white;
}
.right_2 input{
    width:50px;
    border:none
}
.right_2 input:focus {
    width: 50px;
    border: none;
    outline:none;
}
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    /* adjust the width */
    height: 24px;
    /* adjust the height */

}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    /* adjust the height */
    width: 16px;
    /* adjust the width */
    left: 2px;
    /* adjust the left position */
    bottom: 2px;
    /* adjust the bottom position */
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(16px);
    /* adjust the translateX value */
    -ms-transform: translateX(16px);
    /* adjust the translateX value */
    transform: translateX(16px);
    /* adjust the translateX value */
}

/* Rounded sliders */
.slider.round {
    border-radius: 24px;
    /* adjust the border radius */
}

.slider.round:before {
    border-radius: 50%;
}
.switch_label{
    position: relative;
        top: 10px;
        left: 5px;
}
.right_extra_buttons{
    margin-bottom:20px;
}